/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: rgb(53, 120, 227);
  --global-hover-color:  rgb(38, 79, 144);
  --global-footer-bg-color: #{$white-color};
  --global-footer-text-color: rgba(39, 39, 39, 0.763);
  --global-footer-link-color: rgba(39, 39, 39, 0.549);
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(157, 152, 152, 0.281);
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: rgb(189, 74, 25);
  --global-hover-color: rgb(133, 52, 17);
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: rgba(105, 105, 104, 0.887);
  --global-footer-link-color: rgb(105, 105, 104);
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #a5a5a962;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
