<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/pub">Publications</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="https://drive.google.com/file/d/14rMkcbz48nQrahSu3Yfcl358rqgPTGG9/view"target="_blank">cv</a></li>
   <li><a href="mailto:cgonzalgarcia@gmail.com">email</a></li>
   <li><a href="https://github.com/gonzalezgarcia"target="_blank">github</a></li>
   <li><a href="https://cisnotarobot.bandcamp.com/"target="_blank">fun</a></li>
   </ul>
  </footer>
  </body>

</html>
